<!DOCTYPE html>
<html lang="de-de">
<body>
    <head>
        <title>{% block site_title %}{% endblock %} | Streamania</title>

        {% for styleFile in STYLE_FILES %}
            <link rel="stylesheet" href="{{ WEB_BASE }}css/{{ styleFile }}" />
        {% endfor %}
    </head>
    <main>
        <nav class="navigation navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{{ WEB_BASE }}">STREAMANIA</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ WEB_BASE }}?site=series">
                                Serien
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ WEB_BASE }}?site=movies">
                                Filme
                            </a>
                        </li>
                        {% if LOGGED_IN %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ WEB_BASE }}?site=user&action=logout">
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ WEB_BASE }}?site=user&action=register">
                                    Registrieren
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ WEB_BASE }}?site=user&action=login">
                                    Login
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container container__main">
            <div class="d-none">{% block content_title %}{% endblock %}</div>
            {% set content_title_block = block('content_title') %}
            {% if content_title_block is not empty %}
                <div class="container__title">
                    <h1>
                        {{ content_title_block|raw }}
                    </h1>
                </div>
            {% endif %}

            {% for scriptFile in SCRIPT_FILES %}
                <script src="{{ WEB_BASE }}js/{{ scriptFile }}"></script>
            {% endfor %}

            {% block content %}
                Default Content
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            {% set currYear = 'now' | date('Y') %}
            {% set createYear = '2021' %}
            {% set year = (createYear != currYear) ? '2021 - ' ~ currYear : createYear %}

            &copy; {{ year }} by Tobias Vedder, Jerome Lemoine, Mirco Rohleff - ITM1 - IT119
        </div>
        {#
        <div>
            <!--<form id="myform">
                <input id="yt-link" type="text" placeholder="link rein da">
                <input type="submit">
            </form>-->
            <!--<iframe width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>-->

            <video id='video-container' controls> <!-- autoplay> -->
                Your browser does not support HTML5 video.
            </video>

            <!--<iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>-->

            <button id="create-room">
                Erstelle raum!
            </button>
        </div>
        #}
    </footer>
</body>
</html>
