<!DOCTYPE html>
<html lang="de-de">
<body>
    <head>
        <title>{% block title %}| Streamania{% endblock %}</title>

        {% for styleFile in STYLE_FILES %}
            <link rel="stylesheet" href="css/{{ styleFile }}" />
        {% endfor %}
    </head>
    <main>
        Icon via SVG-Tag:
        <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="svg/bootstrap-icons.svg#toggles"/>
        </svg>
        <br>
        Icon via i-Tag:
        <i class="bi-toggles test"></i>
        <nav class="navigation navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{{ WEB_BASE }}/">STREAMANIA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ WEB_BASE }}/series">Serien<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ WEB_BASE }}/movies">Filme</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item nav-link" href="{{ WEB_BASE }}/admin/navigation">Navigation</a>
                        <a class="dropdown-item nav-link" href="{{ WEB_BASE }}/admin/panels">Panels</a>
                        <a class="dropdown-item nav-link" href="{{ WEB_BASE }}/admin/users">Users</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
                Default Content
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            Footer
        </div>
    </footer>

    {% for scriptFile in SCRIPT_FILES %}
        <script src="js/{{ scriptFile }}"></script>
    {% endfor %}
</body>
</html>
